@media (max-width:1250px){
    .wrap{
        width: 90%;
        margin: 0px auto;
    }
}

#banner h1{
    width: 100%;
    font-size: 35px;
    text-align: center;
    margin: 33px auto;
}

.card{
    width: 17%;
    margin: 1.45%;
}

.card p{
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

#articles{
    width: 65%;
}

#articles article{
    width: 97%;
}

#footer .wrap > div{
    width: 24%;
}

#footer #browsers img{
    width: 14%;
}

@media (max-width: 1080px){
    .card .category{
        font-size: 17px;

    }

    .card .description{
        font-size: 14px;
        
    }

    #articles{
        width: 61%;
    }
}

@media (max-width: 970px){
    #articles{
        width: 59%;
    }


    #footer .wrap > div{
        width: 26%;
        margin: 20px;

    }

    #footer h5{
        font-size: 22px;
    }

    @media (max-width: 925px){
        #articles{
            width: 65%;
        }

        #lateral{
            width: 25%;
        }

        #lateral input[type="text"]{
            width: 78%;
        }

        .aside-box{
            width: 95%;
            min-height: 140px;
            height: auto;
            padding-bottom: 10px;
        }

        #login a{
            margin-top: 10px;
            margin-bottom: 10px;
            display: left;
        }

        #login input[type="email"],
        #login input[type="password"]{
            width: 65%;
        }

        #login #user,
        #login #password{
            margin-left: 24px;
        }

        #login input[type="submit"],
        #login input[type="button"],
        #login input[type="reset"],
        #login button{
            margin-bottom: 10px;
            margin-right: 15px;
            margin-left: 50px;
        }

        #login input[type="reset"]{
            display: none;
        }

    }

@media (max-width: 899px){
    #lateral h3{
        font-size: 20px;
    }
}

@media (max-width: 799px){
    #banner h1{
        font-size: 29px;
    }

    .card{
        height: auto;
    }

    .card .category{
        font-size: 15px;
        margin-top: -23px;
    }

    .card .description{
        display: none;
    }

    #footer img{
        margin-bottom: 15px;
        max-width: 100%;
    }
}

@media (max-width: 724px){
    #header{
        width: 100%;
        height: 135px;
        padding-top: 10px;
    }

    #menu {
        clear: both;
        float: none;
        width: 440px;
        margin: 0px auto;
    }

    #logo {
        float: none;
        width: 200px;
        margin: 0px auto;
    }

    #login a {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
    }

    #login input[type="submit"], 
    #login input[type="button"], 
    #login input[type="reset"], 
    #login button {
        margin-left: 28px;
    }
}

@media (max-width: 660px){

    #banner h1{
        font-size: 25px;
    }

    #lateral{
        width: 100%;
        float: none;
        margin: 0px auto;
        min-height: auto;
        margin-top: 20px;
    }

    #articles{
        float: none;
        width: 100%;
        margin: 0px auto;
        min-height: auto;
    }

    #lateral input[type="text"]{
        width: 93%;
        height: auto;
    }


    #footer{
        height: auto;
        padding-bottom: 40px;
    }

    #footer .wrap > div{
        width: 100%;
        margin: auto;
        margin-top: 25px;

    }

    #footer h5{
        font-size: 25px;
    }
}